.c-darkBG
    background-color rgba(188, 248, 248, 0.034)
    width 100vw
    height 100vh
    z-index 0
    top 50%
    left 50%
    transform translate(-50%, -50%)
    position absolute
    
.c-centered
    position fixed
    top 50%
    left 50%
    transform translate(-50%, -50%)
    z-index 999
    
.c-modal
    width 80vw
    height 60vh
    background white
    color white
    border-bottom-right-radius: 25px
    box-shadow 0 5px 20px 0 rgba(0, 0, 0, 0.04)
    animation-duration 0.5s
    animation-name slidein
    // border white 10px ridge

    @keyframes slidein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
    }

    @media screen and (max-width: 768px) {
        width 90vw
        height 70vh
        align-content center
        align-items center
        overflow-y scroll
        text-align: center
        .c-imag{
            width 45%
            
        }
    }

    @media screen and (min-width: 1024px)
        height 50%
        width 80vh
        .c-modal__content_user
            display grid
            grid-template-columns repeat(2, minmax(0,1fr))
            justify-content start
            align-items center
            text-align: start
            
            ,h1
            transition: all 1s ease-in
            &:hover
                font-weight:  bold
    

.c-modal_header
    height: 50px
    background: #06ec193b
    overflow: hidden
    border-top-left-radius: 16px
    border-top-right-radius: 16px

.c-heading
    text-align: center
    margin: 0
    padding: 10px
    color: #2c3e50
    font-weight: bold
    font-size: 18px
    
// .c-modal__content_user
//     display grid
//     grid-template-columns repeat(2, minmax(0,1fr))
//     justify-content center
//     align-items center
//     padding: 10px 10px 10px 10px
// .c-modal_content_img
//     width 100%
//     height 100%
//     border-radius 16px
//     overflow hidden
//     display flex
//     position relative
//     justify-content center

//     @media screen and (max-width: 768px) {
//         padding: 10px
//     }

.c-modal_picture
    margin-bottom 10px

    @media screen and (max-width: 768px) {
        width 100px
        height 100px
    }
    
.c-modal_content
    margin-left 10px
    margin-right 10px
    padding 10px
    font-size 14px
    color #2c3e50
    text-align center
    &,h1
        margin 0
        padding 5px
        color #2c3e50
        font-weight 500
        font-size 18px
        text-align center
        transition: all 1s ease
        :hover
            font-weight:  bold

.c-closeBtn
        cursor: pointer;
        font-weight: 500
        padding: 4px 8px
        border-radius: 8px
        border: none
        font-size: 18px
        color: #2c3e50
        background: white
        transition: all 0.25s ease
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06)
        position: absolute
        right: 0
        top: 0
        align-self: flex-end
        margin-top: -7px
        margin-right: -7px
        &:hover
            transform: translate(-4px, 4px)
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06)
            background: #f5030388


