.c-header_container
    width: maxmin(600px, calc(50% - 5px), 60vw)
    margin 1rem 1rem
    position sticky
    top: 0
    z-index 10
    padding 1rem
    background-color #015931
    border-radius 0 0px 20px 20px
    box-shadow: 5px 20px 0 rgba(0,0,0,0.04);
    .c-title
        color #fff
        text-align center
        text-transform uppercase
    .c-order
        color #fff
        padding: 0rem 0.5rem 0rem
        text-transform uppercase
    .c-main__button-container_header
        width: 100%
        align-items: center
        justify-content: center
        text-align: center
        @media screen and (max-width: 600px) {
            display flex
            padding 0.5rem 1rem 0 
            align-items center
            width: 100%;
            font-size: 0.5em
        }
    .c-header_btn
        margin-left 1rem
        margin-right 1rem
        padding 0.25rem 0.5rem
        border: 1px solid rgba(0, 0, 0, 0.125)
        border-radius: 0.25rem
        font-size: 0.875rem
        font-weight: 500
        line-height: 1.5
        color: #070000
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
        @media screen and (max-width: 600px) {
            align-items center
            width 100%;
            font-size: 10px
            font-weight  bold
            border inset #015931
        }
        &:hover
            color: #080800
            background-color: rgba(255,184,4,255)
            border-color: #ffffff
            box-shadow: 10px -5px #08f8449d
        &:focus
            outline: 0
            box-shadow: 0 0 0 0.2rem rgb(255, 184, 4)
            color #fff
            background-color #015931

.c-header
    display flex
    align-items center
    padding 0.5rem 1rem
    border-bottom-left-radius: 20px
    border-radius: 20px
    background-color: #fafafa7c
    display flex
    flex-direction: column
    gap 1.0rem

    @media screen and (max-width: 768px) {
        flex-direction column
        }

.c-header_input
    text-align: center
    width 50%
    padding 0.5rem 0.5rem 0.75rem 0.75rem
    border-radius 0.25rem
    border: 1px solid rgba(0, 0, 0, 0.125)
    &:focus
            outline: 0
            box-shadow: 0 0 0 0.2rem rgb(255, 184, 4)
            color #070000

.c-main
    // background-image: url("../assets/Dominican-removebg-preview.png");
    // background-size: cover;
    
    margin 1rem 5rem
    display grid
    grid-template-columns repeat(1, minmax(0,1fr))
    gap 1rem

    @media screen and (min-width: 640px) {
        grid-template-columns repeat(2, minmax(0,1fr))
    }
    @media screen and (min-width: 768px) {
        grid-template-columns repeat(3, minmax(0,1fr))
    }
    @media screen and (min-width: 1024px) {
        grid-template-columns repeat(4, minmax(0,1fr))
    }
    @media screen and (min-width: 1280px) {
        grid-template-columns repeat(5, minmax(0,1fr))
    }


.c-main__button-container
    display flex
    padding 0.5rem
    align-items center
    flex-direction column
    overflow hidden
    .pagination
        display inline-block
        padding 0
        margin 0
        li
            display inline
            a
                color black
                float left
                padding 5px 15px
                text-decoration none
                border none
                transition 0.30s ease-in
                @media screen and (max-width 400px){
                    width 2px
                }

                &.active
                    background-color #fcb701
                    color white
                &:hover
                    border-style: dashed double none
                    
                &:hover
                    &:not(.active)
                        background-color #fff
             
    @media screen and (max-width: 768px) {
        flex-direction column
    }


        
